{% extends 'layout.html.twig' %}

{% block content %}

	<main class="d-flex align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				{% for destination in destinations %}
					<div class="card col-4 text-center text-light bg-dark" style="width: 18rem;">
						<img src="/assets/images/{{ destination.image }}" class="card-img-top" alt="{{ destination.name }}">
						<div class="card-body">
							<h5 class="card-title">{{ destination.planet_name }}</h5>
							<p class="card-text">
							<a href="/destinations/show?id={{ destination.id }}" class="btn btn-light">Découvrir</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>

{% endblock %}
