{% extends 'layout.html.twig' %}

{% block title %}Agence de voyage intergalactique
{% endblock %}

{% block content %}
	<main class="container">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-9 text-light text-center">
				<h1>
					À nous de vous faire préférer l'espace !
				</h1>
			</div>
		</div>
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-9 text-light text-center">
				<img src="/assets/images/cargo.png" class="w-75" alt="cargo shuttle">
			</div>
		</div>
	</main>
{% endblock %}
