{% extends 'layout.html.twig' %}

{% block title %}Space Cruisings | Agence de voyage intergalactique
{% endblock %}

{% block content %}
	<main class="container m-auto text-light bg-dark">
		<h1>
			Laissez-nous vous faire préférer l'espace
		</h1>
	</main>
{% endblock %}
