body {
    background-image: url(/assets/images/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

.destination {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 200px;
}

h1 {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 1em #bc9c22;
}
