body {
    background-image: url(/assets/images/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.destination {
    display: flex;
    justify-content: space-between;
}